body {
  background: #FFFFFFF;
}

.app {
  text-align: center;
  max-height: 100vh;
}

.app-jumbotron {
  background-color: #FFF8DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-photo {
  background-size: cover;
  width: 20vh;
  height: 21.5vh;
  margin-top: 2rem;
}

.app-link {
  color: #12061b;
}

.text1 {
  margin-top: 1rem;
  color: #000000;
  font-size: 2rem;
  font-style: oblique;
}

.text2 {
  color: rgb(182, 48, 25);
  font-size: 1rem;
}

.social-media-list {
  padding: 3rem;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}

.icons-list {
  margin-top: 2rem;
}

.card-border {
  border: solid 5px rgb(182, 48, 25);
  color: 'black';
  width: 30%;
  height: 30vh; 
  max-height: 35vh;
  overflow-y: auto;
  background-color: 'white'; 
  border-radius: 8;
  display: -webkit-inline-flex;
  box-shadow: 10px 10px #d6dbda;
  margin: 2rem 0 0 0;
  padding-bottom: 5rem;
}